{% extends '@School/Layout/main_layout.html.twig'%}

{% block title %}Student Detail Page{% endblock %}

{% block body %}

<table class="student_table">
	<tr>
		<th>Name</th>
		<th>Gender</th>
		<th>Age</th>
		<th>Action</th>
	</tr>
	<tr>
		<td>{{ student.name }}</td>
		<td>{{ student.gender }}</td>
		<td>{{ student.age }}</td>
		<td>
			<!-- {{ absolute_url(asset('')) }} = fudu.symfony.net/ -->
			<a href="{{ absolute_url(asset('')) }}app_dev.php/updatestudent/{{ student.id }}">edit</a>
			<a href="{{ absolute_url(asset('')) }}app_dev.php/deletestudent/{{ student.id }}">delete</a>
		</td>
	</tr>
</table>

{% endblock %}